<div class="container">

    <div class="row text-center">
      <div class="col-xs-8 col-xs-offset-2">
        <h4>{{countdown}}</h4>
        <form class="form-horizontal" name="searchUser" ng-submit="search(username)">
          <div class="form-group">
            <input class="form-control" type="text" required="" ng-model="username" />
            <br />
            <input class="btn btn-warning" type="submit" value="Search" />
          </div>
        </form>
      </div>
    </div>
    <hr />

</div>